---
unclassified:
  location:
    url: https://{{ hostname }}/
  gitSCM:
    globalConfigName: "Matthew Fennell"
    globalConfigEmail: "matthew.robert.fennell@gmail.com"
jenkins:
  numExecutors: 0
  nodes:
  - permanent:
      name: "Jenkins Agent"
      retentionStrategy: always
      remoteFS: "/home/{{ jenkins_user }}/jenkins"
      launcher:
        ssh:
          host: {{ jenkins_agent_floating_ip }}
          credentialsId: "jenkins_agent_ssh_key"
          sshHostKeyVerificationStrategy: knownHostsFileKeyVerificationStrategy
credentials:
  system:
    domainCredentials:
      - credentials:
        - basicSSHUserPrivateKey:
            id: "jenkins_agent_ssh_key"
            username: {{ jenkins_user }}
            privateKeySource:
              directEntry:
                privateKey: |
                  {{ lookup('file', './jenkins_agent') | indent(width=18) }}
jobs:
  - script: |
      pipelineJob('speed-dreams') {
        triggers {
          scm('H/5 * * * *')
        }
        definition {
          cpsScm {
            scm {
              git('https://github.com/MatthewRFennell/speed-dreams-pipeline')
            }
          }
        }
      }
