---
unclassified:
  location:
    url: https://{{ hostname }}/
  gitSCM:
    globalConfigName: "Matthew Fennell"
    globalConfigEmail: "matthew.robert.fennell@gmail.com"
jenkins:
  numExecutors: 0
  nodes:
  - permanent:
      name: "Jenkins Agent"
      retentionStrategy: always
      remoteFS: "/home/{{ jenkins_user }}/jenkins"
      launcher:
        ssh:
          host: {{ jenkins_agent_floating_ip }}
          credentialsId: "jenkins_agent_ssh_key"
          sshHostKeyVerificationStrategy: knownHostsFileKeyVerificationStrategy
credentials:
  system:
    domainCredentials:
      - credentials:
        - basicSSHUserPrivateKey:
            id: "jenkins_agent_ssh_key"
            username: {{ jenkins_user }}
            privateKeySource:
              directEntry:
                privateKey: |
                  {{ lookup('file', './jenkins_agent') | indent(width=18) }}
jobs:
  - script: |
      pipelineJob('speed-dreams') {
        displayName('Speed Dreams Experimental AppImage')
        description('Warning! This job produces experimental AppImages built directly from trunk. It is built for developers and very early testers, not end users. Speed Dreams may crash, refuse to load, or fail in any number of other ways. Additionally, due to the setup of the AppImage, you will not be able to install any extra content other than that included with in the AppImage itself. If you do encounter any bugs and would like to report them, please check the sourceforge tickets section, or drop by on the Speed Dreams XMPP/Matrix chat. Links and alternative packaging formats are available at speed-dreams.net. Many thanks to son_link for the original recipe!')
        triggers {
          scm('H */4 * * *')
        }
        logRotator {
          numToKeep(5)
          artifactNumToKeep(1)
        }
        definition {
          cpsScm {
            scm {
              git('https://github.com/MatthewRFennell/speed-dreams-pipeline')
            }
          }
        }
      }
